<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ibzan's Blog</title>
    <link rel="stylesheet" href="assets/fonts.css">
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://queer.party/@ibzan" rel="me">
 </head>
  <body>
    {{intro}}
    <h2 class="header"><a id="posts" href="#posts">Posts</a></h1>
    <table class="centred contents">
      <tr>
        <th class="title">Title</th>
        <th class="date">Date</th>
      </tr>
      {{contents}}
    </table>
  </body>
</html>

